<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        #container{
            width: 1000px;
            margin: 0 auto;
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            /* gap: 20px; */
        }

        .box{

            height: 120px;
            width: 120px;
            border: 2px solid black;


        }

        .color1{

            background-color: {{color1}};
        }

        .color2{

            background-color: {{color2}};
        }
    


    </style>
</head>
<body>
    <h1>Checkerboard</h1>
    <div id="container">
    {%for i in range(0,num) %}
    <div class="box"
    class = "color1">    
    </div>  
    {%endfor%}
    </div>
    
</body>
</html>